<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="create-todo-modal">
    <div class="modal fade" id="createTodoModal" tabindex="-1" aria-labelledby="createTodoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-white text-dark">
                <form id="createTodoForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createTodoModalLabel" th:text="#{todotable.create}">Create Todo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="create-todo-username" class="form-label" th:text="#{auth.username}">Username</label>
                            <select class="form-select" id="create-todo-username" name="username" required>
                                <option value="" selected disabled th:text="#{todotable.select_user}">Select a user</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="create-todo-title" class="form-label" th:text="#{todotable.column.title}">Title</label>
                            <input type="text" class="form-control" id="create-todo-title" name="title" required />
                        </div>
                        <div class="mb-3">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="completed" />
                                <span th:text="#{todotable.column.completed}">Completed</span>
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{todotable.cancel}">Cancel</button>
                        <button type="submit" class="btn btn-success" th:text="#{todotable.create}">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>