<!DOCTYPE html>
<html lang="en" th:replace="~{template :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{base.title}"></title></head>
<body>
<section>
    <div class="container-fluid" th:if="${pageContent}" th:object="${pageContent}">
        <h1>Page content:</h1>
        <table class="table table-stripped">

            <thead>
                <th scope="col">Content</th>
                <th scope="col">Total pages</th>
                <th scope="col">Number</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Size</th>
                <th scope="col">Number of elements</th>
            </thead>

            <tbody>
                <tr>
                    <td th:text="*{content.size()}"></td>
                    <td th:text="*{totalPages}"></td>
                    <td th:text="*{number}"></td>
                    <td th:text="*{first}"></td>
                    <td th:text="*{last}"></td>
                    <td th:text="*{size}"></td>
                    <td th:text="*{numberOfElements}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>