<li class="nav-item dropdown" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="lang-switcher">
    <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown" style="width: 40">
        <li th:if="${#locale.language != 'es'}">
            <a class="dropdown-item" href="#" th:src="@{/images/es_flag.png}" th:href="@{?lang=es}">
                <img class="rounded" src="#" th:src="@{/images/es_flag.png}" alt="es_image">
            </a>
        </li>
        <li th:if="${#locale.language != 'ca'}">
            <a class="dropdown-item" href="#" th:src="@{/images/ca_flag.png}" th:href="@{?lang=ca}">
                <img class="rounded" src="#" th:src="@{/images/ca_flag.png}" alt="cat_image">
            </a>
        </li>
        <li th:if="${#locale.language != 'en'}">
            <a class="dropdown-item" href="#" th:src="@{/images/en_flag.png}" th:href="@{?lang=en}">
                <img class="rounded" src="#" th:src="@{/images/en_flag.png}" alt="en_image">
            </a>
        </li>
    </ul>
</li>