<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="lang-switcher" class="dropdown">
    <a class="btn btn-dark dropdown-toggle d-flex align-items-center gap-1"
       href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="rounded-circle"
             th:src="@{'/images/' + ${#locale.language} + '_flag.png'}"
             alt="lang" width="24" height="24"/>
        <span th:text="${#locale.language.toUpperCase()}">EN</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        <li th:if="${#locale.language != 'en'}">
            <a class="dropdown-item d-flex align-items-center gap-2" th:href="@{?lang=en}">
                <img th:src="@{/images/en_flag.png}" alt="en" width="20"/>
                English
            </a>
        </li>
        <li th:if="${#locale.language != 'es'}">
            <a class="dropdown-item d-flex align-items-center gap-2" th:href="@{?lang=es}">
                <img th:src="@{/images/es_flag.png}" alt="es" width="20"/>
                Español
            </a>
        </li>
        <li th:if="${#locale.language != 'ca'}">
            <a class="dropdown-item d-flex align-items-center gap-2" th:href="@{?lang=ca}">
                <img th:src="@{/images/ca_flag.png}" alt="ca" width="20"/>
                Català
            </a>
        </li>
    </ul>
</div>
</body>
</html>